.ui-widget-header {
    background: rgb(23, 162, 184);
}

.ui-widget-header {
    color: rgb(255, 255, 255);
}

.ui-datepicker table {
    background: #e7fcff;
}

.ui-datepicker .ui-datepicker-next {
    background: rgb(23, 162, 184);
}    

.ui-datepicker .ui-datepicker-next:hover,
.ui-datepicker-prev:hover {
    background: rgb(23, 162, 184);
    border: none;
}    

.ui-state-default, .ui-widget-content .ui-state-default {
    background: lightblue;
    border: 1px solid rgba(0,123,255,.25);
}

.ui-widget-content .ui-state-default:hover {
    background: rgb(23, 162, 184);
}


.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border-color:  rgba(40, 167, 69);
    
    background: rgba(40, 167, 69, 0.561);
}

.ui-widget-header .ui-icon {
    filter: invert(1);
}