/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
         url('../fonts/lato-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}  

*, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

img {
    max-width: 100%;
    height: auto;
}
.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper__full {
    max-width: 1264px;
    margin: 0 auto;
    padding: 0 15px;
}

.section__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}

.section__title::after {
    display: block;
    content: '';
    position: absolute;
    width: 253px;
    height: 3px;
    background: #006DFE;
    left: 0;
    bottom: 0;
}
/* header start */

.header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 56px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: 0.2s linear;
        -ms-transform: 0.2s linear;
            transform: 0.2s linear;
    padding-bottom: 20px;
    z-index: 999;
}

.header__active {
    background: #0E1D28;
}

.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.header__item {
    margin-right: 82px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75;
}

.header__burger {
    width: 40px;
    height: 28px;
    position: relative;
    display: none;
}

.burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
}

.burger__line:first-child {
    top: 0;
}

.burger__line:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.burger__line:last-child {
    bottom: 0;;
}
/* header end */

/* intro start */

.intro {
    min-height: 100vh;
    background: url(../img/intro-bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
}

.intro__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    max-width: 619px;
    margin-bottom: 22px;
}

.intro__subtitle {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    max-width: 546px;
    margin: 59px;
}

.search-form__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.search-form__field {
    background: transparent url(../img/svg/circle-icon.svg) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    width: 297px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}

.search-form__field::-webkit-input-placeholder {
    color: #FFFFFF;
}

.search-form__field::-moz-placeholder {
    color: #FFFFFF;
}

.search-form__field:-ms-input-placeholder {
    color: #FFFFFF;
}

.search-form__field::-ms-input-placeholder {
    color: #FFFFFF;
}

.search-form__field::placeholder {
    color: #FFFFFF;
}

.search-form__submit {
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    background: #1B7DFF;
    border: 0;
    color: #FFFFFF;
}

.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active {
    background: rgb(10, 87, 189);
}
/* intro end */

/* benefits start */

.benefits {
    margin-bottom: 131px;
}

.benefits__wrap {
    max-width: 1262px;
    margin: 0 auto;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
            box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits__title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    background-color: #fff;
}

.benefits__cards {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 1fr 55px 1fr 55px 1fr;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 55px;
   padding: 0 100px;
}

.benefits__card {
    -ms-grid-column-span: 1;
    grid-column: span 1;
    margin-bottom: 112px;
}

.benefits__card-pic  {
    margin-bottom: 37px;
    max-width: 66px;
}

.benefits__card-thumb {
    display: block;
}

.benefits__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}

.benefits__card-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}

.benefits__card-more {
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url(../img/svg/arrow-right-icon.svg) no-repeat 95% center;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

.benefits__card-more:hover, .benefits__card-more:focus {
    background: url(../img/svg/arrow-right-icon.svg) no-repeat right center;
}
/* benefits end */

/* places start */

.places {
    margin-bottom: 131px;
}

.places__caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 36px;
}

.places__title {
    margin-right: 15px;
}
.places__view-all {
    font-size: 16px;
    padding-right: 59px;
    text-decoration: none;
    color: #006DFE;
    background: url(../img/svg/arrow-right-icon.svg) no-repeat right center;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

.places__view-all:hover, .places__view-all:focus {
    opacity: .8;
}

.places__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.places__card {
    position: relative;
    overflow: hidden;
}

.places__card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.places__card:hover .places__card-pic {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.places__card_size_lg {
    -ms-grid-column-span: 3;
    grid-column: span 3;
}

.places__card_size_sm {
    -ms-grid-column-span: 2;
    grid-column: span 2;
}


.places__card-pic {
    width: 100%;
    height: 100%;
    -webkit-transition: .15s all;
    -o-transition: .15s all;
    transition: .15s all;
}

.places__card-pic-lg {
    height: 354px;
    -o-object-fit: cover;
       object-fit: cover; 
}

.places__card-pic-sm {
    height: 283px;
    -o-object-fit: cover;
       object-fit: cover; 
}

.places__card-title {
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    position: absolute;
    left: 29px;
    bottom: 27px;
    z-index: 3;
}

.places__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 1005px;
    height: 100%;
    z-index: 4;
}
/* places end */

/* tours start */

.tours {
    margin-bottom: 139px;
}

.tours__tour {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 108px 1fr;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 108px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 77px;  
}

.tour__info {
    padding-left: 47px;
}
.tour__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}

.tour__desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
}

.tour__more {
    font-size: 16px;
    padding-right: 59px;
    text-decoration: none;
    color: #006DFE;
    background: url(../img/svg/arrow-right-icon.svg) no-repeat right center;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

.tour__more:hover, .tour__more:focus {
    opacity: .7;
}
/* tours end */

/* top start */

.top {
    margin-bottom: 86px;
}

.top__title {
    margin-bottom: 54px;
}

.top__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 57px;
    row-gap: 57px;
    
}

.top__card-pic {
    position: relative;
    margin-bottom: 45px;
}

.top__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column-span: 2;
    grid-column: span 2;
}

.top__card-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    padding: 16px 25px;
}

.top__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 auto 0 0;
}

.top__card-likes {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 20px;
    background: url(../img/svg/heart-ico.svg) no-repeat right;
    margin-right: 14px;
}

.top__card-comments {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 23px;
    background: url(../img/svg/comment-ico.svg) no-repeat right;
}

.top__card-desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;
}

.top__card-more {
    width: 118px;
    padding: 12px 19px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    background: #1B7DFF;
    border: 0;
    color: #FFFFFF;
    text-decoration: none;
    margin: auto 0 0 0;
}

.top__card-more:hover, .top__card-more:focus, .top__card-more:active {
    background: rgb(10, 87, 189);
}
/* top end */

/* videos start */

.videos {
    width: 100%;
}

.videos__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.video-item {
    padding-top: 56.25%;
}

.video__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* videos end */

/* footer start */

.footer {
    background: #0E1D28;
    padding: 119px 0;
}

.footer-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.footer__logo {
    width: 50%;
}

.footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
}
/* footer end */

.footer__enu-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer__menu-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer__menu-link:hover, .footer__menu-link:visited, .footer__menu-link:active {
    opacity: .6;
}

/* media start */

@media screen and (max-width: 960px) {
    .benefits {
        margin-bottom: 75px;
    }

    .search-form__field {
        margin-bottom: 25px;
    }

    .benefits__title {
        padding: 55px 15px;
    }

    .benefits__card {
        margin-bottom: 60px;
    }
    .benefits__cards {
        padding: 0 15px;
        column-gap: 35px;
    }

    .benefits__wrap {
        -webkit-box-shadow: none;
                box-shadow: none;
    }

    .places__card_size_lg, .places__card_size_sm {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }

    .tours__tour {
        column-gap: 35px;
    }

    .tour__info {
        padding-left: 0;
    }

    .tour__title {
        margin-bottom: 15px;
    }

    .tour__desc {
        margin-bottom: 15px;
    }

    .top__cards {
        column-gap: 25px;
        row-gap: 55px;
    }
    .top__card {
        -ms-grid-column-span: 3;
        grid-column: span 3;
    }

    .top__card-pic {
        margin-bottom: 25px;
    }

    .footer {
        padding: 60px 0;
    }
}


@media screen and (max-width: 767px) {
    .section__title {
        margin-bottom: 25px;
    }
    .section__title::after {
        width: 90px;
    }

    .header__burger {
        display: block;
    }

    .header__wrapper {
        padding-top: 28px;
    }

    .header__nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #0E1D28;
        z-index: 10;
        padding: 75px;
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
        -webkit-transition: .2s all linear;
        -o-transition: .2s all linear;
        transition: .2s all linear;
    }

    .header__nav-active {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }

    .header__item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .header__item:last-child {
        margin-bottom: 0;
    }

    .header__link {
        font-size: 42px;
        line-height: 48px;
    }

    .header__nav-close {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 20px;
        right: 20px;
        z-index: 11;
    }

    .header__nav-close-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
    }

    .header__nav-close-line:first-child {
        -webkit-transform: translateY(-50%) rotate(45deg);
            -ms-transform: translateY(-50%) rotate(45deg);
                transform: translateY(-50%) rotate(45deg);
    }

    .header__nav-close-line:last-child {
        -webkit-transform: translateY(-50%) rotate(-45deg);
            -ms-transform: translateY(-50%) rotate(-45deg);
                transform: translateY(-50%) rotate(-45deg);
    }

    .intro {
        padding-top: 120px;
    }

    .intro__title {
        font-size: 32px;
        line-height: 48px;
    }

    .intro__subtitle {
        font-size: 14px;
        margin: 0;
        margin-bottom: 30px;
    }

    .search-form__field {
        width: 100%;
        margin-right: 0;
        padding-bottom: 12px;   
        font-size: 16px;
        background: transparent url(../img/svg/circle-icon.svg) no-repeat left 2px;
    }

    .search-form__field::-webkit-input-placeholder {
        font-size: 16px;
    }

    .search-form__field::-moz-placeholder {
        font-size: 16px;
    }

    .search-form__field:-ms-input-placeholder {
        font-size: 16px;
    }

    .search-form__field::-ms-input-placeholder {
        font-size: 16px;
    }

    .search-form__field::placeholder {
        font-size: 16px;
    }

    .search-form__submit {
        width: 100%;
    }

    .benefits {
        margin-bottom: 36px;
    }

    .benefits__card {
        -ms-grid-column-span: 3;
        grid-column: span 3;
        margin-bottom: 40px;
    }

    .benefits__card-pic {
        margin-bottom: 20px;
    }

    .benefits__card-title {
        margin-bottom: 12px;
    }

    .benefits__card-desc {
        margin-bottom: 20px;
    }

    .places {
        margin-bottom: 76px;
    }

    .places__card_size_lg,
    .places__card_size_sm {
        height: 230px;
    }

    .tours {
        margin-bottom: 76px;
    }

    .tour__pic,
    .tour__info {
        -ms-grid-column-span: 2;
        grid-column: span 2;
    }

    .tour__pic {
        margin-bottom: 12px;  
    }

    .tour__pic-first-mob {
        -ms-grid-row: -1;
            grid-row-start: -1;
    }

    .tours__tour {
        margin-bottom: 50px;
    }

    .top {
        margin-bottom: 76px;
    }

    .top__card {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }

    .top__card-stats {
        max-width: 386px;
    }

    .top__card-desc {
        margin-bottom: 15px;
    }

    .footer__logo {
        width: 100%;
        margin-bottom: 1px;
    }

    .footer__nav {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .header__nav {
        padding: 75px 30px;
    }
}
/* media end */